/*This is to remove the white edges around the canvas. (There is margin and padding by default.)*/
*{
  margin: 0;
  padding: 0;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
  text-align: center;
  text-decoration-color: black;
}

#myBar {
  width: 100%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

#myProgress2 {
  width: 100%;
  background-color: #ddd;
}

#myBar2 {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}